
<%- include('./partials/head', {title: 'Agregando Producto'}) %>


<%- include('./partials/headerNavbar') %>

<main>
    <p class="editando">Alta de Producto</p>
    <form action="/products" class="altaProd" method="POST" enctype="multipart/form-data">
        
        <label for="title">Título del Libro</label>
        <input type="text" id="title" name="title" placeholder="Ej: The Lord of the Rings" required minlength="2">
        
        <label for="author">Autor</label>
        <select name="author" id="author">
            <% for (let i = 0; i < autores.length; i++) { %>
                <option value="<%= autores[i].id %> ">
                    <%= autores[i].name %> 
                </option> 
            <% } %> 
        </select>
        
        <label for="category">Categoría</label>
        <select name="category" id="category">
            <% for (let i = 0; i < categorias.length; i++) { %>
                <option value="<%= categorias[i].id %> ">
                    <%= categorias[i].name %> 
                </option> 
            <% } %> 
        </select>
        <label for="price">Precio</label>
        <input type="text" id="price" name="price" placeholder="Ej: $150" required minlength="2">
        
        <label for="Sinopsis">Sinopsis</label>
        <textarea name="description" id="Sinopsis" required minlength="2"></textarea>
                
        <label for="date_entry">Fecha de ingreso</label>
        <input type="date" id="date_entry" name="date_entry" required minlength="2" value="">
        
        <label for="file">Seleccione una imágen</label>
        <input type="file" name="bookImg" id="file" class="imagen">
        
        <div style="display: flex; margin: 12px auto;">
            <button type="submit" class="buy-now-button">Guardar</button>
            <a href="/products/admin" class="botonVolver" style="text-decoration: none; color: white;">Cancelar</a>
        </div>
    </form>

</main>


<%- include('./partials/footer') %>