<%- include('./partials/head', {title: 'Resúmen de Compra'}) %>


<%- include('./partials/headerNavbar') %>

<main>

    <table class="detalle-compra">
        <tr style="background-color: limegreen; height: 30px;">
            <th colspan="3">Detalle</th>
            <th class="resumen">Precio</th>
            <th class="resumen">Cantidad</th>
            <th class="resumen">Subtotal</th>
            <th class="resumen">Eliminar</th>
        </tr>
        
        <tr style="text-align: center;">
            <td style="text-align: left;  width: 100px;"><img src="/images/<%=products[0].image%>" alt="book-image" style="max-width: 100px; padding: 5px; margin-left: 5px; text-align: left;"></td>
            <td style="text-align: left; width: 200px;">
                <%=products[0].name%>
                <br>
                <br>
                <br>
                <%=products[0].autor%>
                <br><br>
                <span class="detalle"> <%=(products[0].price)%></span>
            </td>
            <td class="resumen"></td>
            <td class="resumen"> <%=(products[0].price)%></td>
            <td class="resumen"><input type="number" placeholder="1" style="width: 35px; height: 35px;"></td>
            <td class="resumen"> <%=(products[0].price)%></td>
            <td class="resumen"><i class="fas fa-trash-alt" style="color: red; font-size: 15px;"></i></td>
        </tr>
   

    </table>

    <div>
        <form action="" method="post" class="detalle-resumen">
           
            <input type="number" placeholder="1" min="1" style="width: 35px; height: 35px; margin-left: 35px; margin-top: 10px; margin-bottom: 10px;">

            <button style="background-color: rgba(128, 128, 128, 0); border: 0px; cursor: pointer; margin-right: 65px; margin-top: 10px;margin-bottom: 10px;"><i class="fas fa-trash-alt" style="color: red; font-size: 15px;"></i></button>
        </form>
    </div>

    <div class="opciones-carrito">
        <button action="/products/index">Seguir Comprando</button>
        <button type="reset">Vaciar Carrito</button>
    </div>


    <div class="resto-compra">
        <form action="" method="post" class="cupon">
            <p>Descuento</p>
            <input type="text" placeholder="Cupón">
            <br>
            <button>Aplicar</button>
        </form>
 
        <form action="" method="post" class="envio">
            <p>Calcular Envío</p>
                <br>
                <select name="pais" id="pais">
                    <option value="0">Elija País</option>
                    <option value="1">Argentina</option>
                    <option value="2">Uruguay</option>
                    <option value="3">Chile</option>
                    <option value="4">Brasil</option>
                </select>
                <br>
                <input type="text" placeholder="Código Postal">
                <br>
                <button>Calcular</button>
        </form>
    

        <div class="total">
            <h3>Detalle de Compra</h3>
            <p>Subtotal</p>
            <p>Descuento</p>
            <p>Envío</p>
            <p>Total</p>
            <button>Confirmar</button>
        </div>
    </div>

</main>




<%- include('./partials/footer') %>