<%- include('./partials/head', {title: 'Detalle: ' + productos.name}) %>


<%- include('./partials/headerNavbar') %>

<div class="products-wrapper">
  <div class="product-detail">
    <div>
      <img src="/images/<%=productos.image%>" alt="product image" class="product-detail-img">
      <h2 class="product-detail-description">Título: <%=productos.title%></h2>
      <h3 class="product-detail-description">Autor: <%=productos.autores.name%></h3>
      <h4 class="product-detail-title">Sinopsis: <%=productos.description%></h4>
    </div>
    <article class="product-detail-info">

      <p class="product-detail-price small">Precio:
        <span>$<%=toThousand(productos.price)%></span>
      </p>
      <ul class="actions-list">
        <li>
          <i class="fas fa-credit-card"></i>
          <p>Pagá en 12 cuotas sin interes</p>
        </li>
        <li>
          <i class="fas fa-store"></i>
          <p>Retiro gratis en locales del vendedor</p>
        </li>
      </ul>
      <a href="/carrito" class="comprar">COMPRAR</a>
      <br><br>
      
      <!-- <a href="/products/edit/<%=productos.id%>" class="action-button edit"><button class="comprar">EDITAR</button></a>
      <a href="/products/delete/<%=productos.id%>"><button type="submit" class="action-button delete comprar">ELIMINAR</button></a> -->

    </article>
  </div>
</div>

<%- include('./partials/footer') %>