
<%- include('./partials/head', {title: 'Editando: ' + editProduct.name}) %>


<%- include('./partials/headerNavbar') %>

<main>
    <p>Editar Producto</p>
    <form action="/products/<%= editProduct.id%>?_method=put" class="altaProd" method="POST" enctype="multipart/form-data">
        <label for="name">Título del Libro</label>
        <input type="text" id="name" name="name" placeholder="Ej: The Lord of the Rings" required minlength="2" value="<%= editProduct.name %>">
        
        <label for="autor">Autor</label>
        <input type="text" id="autor" name="autor" placeholder="Ej: J.R.Tolkien" required minlength="2" value="<%= editProduct.autor %>">
        
        <label for="category">Categoría</label>
        <select name="category" id="category" required minlength="2">
            <option value="">Elegí</option>
            <% for (interes of interests) { %> 
            <option value="<%= interes %>"><%= interes %> </option>
            <% } %> 
        </select>        
        
        <label for="price">Precio</label>
        <input type="text" id="price" name="price" placeholder="Ej: $150" required minlength="2" value="$ <%= toThousand(editProduct.price) %>">
        
        <label for="Sinopsis">Sinopsis</label>
        <textarea name="sinopsis" id="Sinopsis" required minlength="2"><%= editProduct.description %></textarea>
        
        <input type="file" name="bookImg" id="file" class="imagen">
        
        <button action="/" type="submit" class="buy-now-button">Guardar producto</button>
    </form>

</main>


<%- include('./partials/footer') %>