
<%- include('./partials/head', {title: 'Editando: ' + productos.title}) %>


<%- include('./partials/headerNavbar') %>

<main>
    <p class="editando">Editando <%= productos.title %>  </p>
    <form action="/products/<%= productos.id%>?_method=put" class="altaProd" method="POST" enctype="multipart/form-data">
        <label for="name">Título del Libro</label>
        <input type="text" id="name" name="title" placeholder="Ej: The Lord of the Rings" required minlength="2" value="<%= productos.title %>">
        
        <label for="author">Autor</label>
        <select name="author" id="autor">
            <% for (let i = 0; i < autores.length; i++) { %>
            <% var selectedA = (autores[i].id == productos.id_author) ? 'selected' : '' ;%> 
                <option value="<%= autores[i].id %>" <%= selectedA %>>
                    <%= autores[i].name %>
                </option>
            <% } %> 
        </select>

        <label for="category">Categoría</label>
        <select name="category" id="category">
            <% for (let i = 0; i < categorias.length; i++) { %>
            <% var selectedC = (categorias[i].id == productos.id_category) ? 'selected' : '' ;%> 
                <option value="<%= categorias[i].id %>" <%= selectedC %> >
                    <%= categorias[i].name %>
                </option>
            <% } %> 
        </select>
        
        <label for="price">Precio</label>
        <input type="text" id="price" name="price" placeholder="Ej: $150" required minlength="2" value="<%= toThousand(productos.price) %>">
        
        
        <label for="Sinopsis">Sinopsis</label>
        <textarea name="description" id="Sinopsys" required minlength="2"><%= productos.description %></textarea>
        
        <label for="date_entry">Fecha de ingreso</label>
        <input type="date" id="date_entry" name="date_entry" required minlength="2" value="">
        
        <input type="hidden" name="oldImage" value="<%= productos.image %> ">
        <input type="file" name="bookImg" id="file" class="imagen">
        
        <div style="display: flex; margin: 12px auto;">
        <button type="submit" class="buy-now-button">Guardar</button>
        <a href="/products/admin" class="botonVolver" style="text-decoration: none; color: white;">Cancelar</a>
        </div>
    </form>

</main>


<%- include('./partials/footer') %>