
<%- include('./partials/head', {title: 'Home'}) %>


<%- include('./partials/headerNavbar') %>

    <main>

      <div class="banner">

<%- include('./partials/slider')%>

        <!-- <img src="/images/category-books-banner_1920x550_210401.jpeg" alt="banner"> -->



      </div>
      <p>Novedades de la Semana</p>
      <section>

        <% novedad.forEach((nov) => { %>
        <article>
          <a href="/products/<%=nov.id%>">
          <img src="/images/<%=nov.image%>" alt="mundo">
          <div class="articulo">
            <div class="autor-favorito">
              <h3><%=nov.name%></h3>
              <i class="fas fa-heart"></i>
            </div>
            <div class="precio-descuento">
              <p class="precio">$<%=toThousand(nov.price)%>
                <a href="/products/<%=nov.id%>"><i class="fas fa-info-circle info"></i></a>
              </p>
              <a href="#agregar" class="comprar">Comprar</a>
            </div>
          </div>
        </a>
        </article>
        <% }) %>


      </section>
      <p>¡Los más elegidos en Bugga!</p>

      <section>
        <% masElegidos.forEach((elegidos) => { %>
        <article>
          <a href="/products/<%=elegidos.id%>">
          <img src="/images/<%=elegidos.image%>" alt="mundo">
          <div class="articulo">
            <div class="autor-favorito">
              <h3><%=elegidos.name%></h3>
              <i class="fas fa-heart"></i>
            </div>
            <div class="precio-descuento">
              <p class="precio">$<%=toThousand(elegidos.price)%>
                <a href="/products/<%=elegidos.id%>"><i class="fas fa-info-circle info"></i></a>
              </p>
              <a href="#agregar" class="comprar">Agregar</a>
            </div>
          </div>
        </a>
        </article>
        <% }) %>


      </section>
    </main>
<%- include('./partials/footer') %>
