<%- include('./partials/head', {title: 'Registro'}) %>

    <%- include('./partials/headerNavbar') %>

    <section class="profile">
        <div class="name">
        <h2>
            <%= user.name %> 

        </h2>
        </div>
        <img src="/images/profileImg/<%= user.image %>"   alt="user_image">
        <div class="email">
           <p><%= user.mail %> </p> 
        </div>
        <div>  
        <a href="/user/logout"><button>Logout</button></a>
        </div>


    </section>
    
    
    
    
    <%- include('./partials/footer') %>